body.courier-page .NavBar,
body.courier-page .MobileNavBar {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html, body {
  overscroll-behavior-y: none;
  overflow-x: hidden;
  width: 100%;
}
