.typeGroup {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

.adminDeviceImg {
  margin-left: 10px;
}

.adminDeviceName {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 800px;
}

.adminDevicePrice {
  font-weight: 500;
}

.discountedPrice {
  color: #f44336;
  font-weight: bold;
}

.oldPrice {
  color: #999;
  text-decoration: line-through;
  margin-left: 8px;
  font-size: 0.9em;
}

.adminPanelContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 100px;
}

.actionButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.actionButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0056b3;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.typeTitle {
  text-align: center;
}

.itemList {
  margin-top: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
}

.buttons {
  display: flex;
  gap: 10px;
}

.editButton {
  background-color: #007523;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.editButton:hover {
  background-color: #018e2b;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}

.emptyCategoryMessage {
  text-align: center;
}

.translationsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addTranslationButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.translationForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.inputField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selectField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.saveButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.editButton {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.translationTable {
  width: 100%;
  border-collapse: collapse;
}

.translationTable th,
.translationTable td {
  border: 1px solid #ddd;
  padding: 10px;
}

.translationTable th {
  background-color: #f8f9fa;
  text-align: left;
}
