
.basketEmpty {
  margin-bottom: 50px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin-top: 150px;

}

.card {
  width: 100%;
  max-width: 600px; 
  margin: 10px auto; 
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.firstCard {
  margin-top: 70px; 
}

.otherCards {
  margin-top: 10px; 
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px; 
}

.image {
  flex-shrink: 0; 
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  flex-grow: 1; 
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.counter {
  width: 100px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.buttonPlus {
  background-color: #ffffff;
  color: #000000;
  border-color: #8f2600;
  padding: 6px 12px;
  font-size: 14px;
}

.buttonPlus:hover {
  background-color: #8f2600;
  border-color: #8f2600;
}

.count {
  margin: 0 10px;
  font-size: 16px;
  text-align: center;
}

.price {
  width: 90px;
  font-size: 16px;
}

.buttonDelete {
  padding: 6px 12px;
  font-size: 14px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.totalPrice {
  font-size: 15px;
  text-align: right;
}

.totalDeliverPrice {
  font-size: 12px;
  text-align: right;
}

@media (max-width: 768px) {
  .cardContent 

  .title,
  .price,
  .buttonDelete {
    font-size: 11px;
    text-align: center;
    width: 100%; 
    margin-top: 8px; 
  }

  .counter {
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  .buttonPlus {
    padding: 6px 12px;
    font-size: 11px;
  }

  .count {
    font-size: 11px;
    text-align: center;
  }
}

.unselectedOption {
  border: 2px solid red;
  background-color: #ffe6e6;
}
