.settingsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

.mainContent {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  background-color: #fff;
}

.settingsHeader {
  font-size: 16px;
  margin-top: 20px;
}

.profileContainer {
  margin: auto;
  width: 100%;
  max-width: 600px; 
  background: white;
}

.profileContainer h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.buttonsContainer {
  width: 100%; 
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px; 
}

.profileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; 
}

.profileItem span:first-child {
  min-width: 80px;
  display: inline-block;
}


.profileContainer input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
  max-width: 250px;
}

.editButton {
  background-color: #0072CE;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #015396;
}

.passwordInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.profileContainer .passwordInputs input {
  margin-top: 5px;
}

.errorText {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.cookieSettings {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto 0 auto;
}

.cookieOption {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  padding: 8px 0;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px; 
}

.checkboxWrapper input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.cookieHeaderTitle {
  font-size: 20px;
}

@media (max-width: 768px) {
  .buttonsContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-right: 120px;
  }

  .settingsButton svg{
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 600px) {
  .settingsWrapper {
    padding: 20px 0;
    margin-top: 50px;
  }

  .mainContent {
    max-width: none;
    width: 90%;
    padding: 0;
  }

  .profileContainer {
    width: 100%;
    max-width: none;
    padding: 0 8px; 
  }

  .profileItem {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .passwordInputs,
  .cookieSettings {
    width: 100%;
    max-width: none;
  }
}
